.container {
  max-width: 1200px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  height: 107px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-image: linear-gradient(to right, #8DD4FF, #fff, #8DD4FF);
}
#header > img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 107px;
}
#header .province {
  margin-top: 15px;
  display: flex;
}
#header .province img {
  width: 80px;
  height: 80px;
}
#header .province .province-info {
  padding-left: 10px;
}
#header .province .province-info .info-portal {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #0680C9;
  margin-bottom: -5px;
}
#header .province .province-info .deparment-of-home-affairs {
  text-transform: uppercase;
  color: #F10223;
  font-size: 30px;
  font-weight: 700;
}
#header .date-weather {
  margin-top: 32px;
}
#header .date-weather .date {
  background: #fff;
  border: 1px solid #8DD4FF;
  height: 42px;
  padding: 0 10px;
  line-height: 38px;
}
#header .date-weather .weather {
  background: #fff;
  width: 260px;
  border: 1px solid #8DD4FF;
  height: 42px;
  padding: 0 10px;
  line-height: 38px;
}
#header .date-weather .weather .sun {
  color: rgb(217, 187, 17);
  font-size: 30px;
}
#header .date-weather .icon1 {
  background: #fff;
  border: 1px solid #8DD4FF;
  line-height: 42px;
  text-align: center;
  width: 42px;
  height: 42px;
}
#header .date-weather .icon {
  background: #fff;
  border: 1px solid #8DD4FF;
  line-height: 42px;
  text-align: center;
  width: 42px;
  height: 42px;
}

#nav {
  margin-top: 107px;
}

.container .news-left_under p {
  font-weight: 700;
  font-size: 15px;
  width: 60%;
  margin: 0;
  margin-top: -5px;
}
.container .news-left_under img {
  width: 30%;
}
.container .news-mid img {
  width: 100%;
}
.container .news-mid :nth-child(2) {
  font-weight: 700;
  font-size: 24px;
}
.container .news-mid :nth-child(3) {
  font-size: 15px;
}
.container .calendar-work {
  position: relative;
  width: 100%;
  height: 346px;
  background: #FFF9F2;
  border: 1px solid #FFD5B7;
  border-top: 1px solid #f57308;
}
.container .banner img {
  width: 100%;
  margin-top: 20px;
}

.container .news-event {
  border-top: 3px solid #92b5f0;
  position: relative;
}
.container .news-event .title {
  width: 180px;
  height: 44px;
  border-bottom: 0.5px solid #349fdd;
  background-image: linear-gradient(to left, #fff, #dbe3f1, #84cfec);
}
.container .news-event .title p {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: #0680C9;
}
.container .news-event .col-left img {
  width: 100%;
}
.container .news-event .col-left :nth-child(2) {
  font-size: 24px;
  font-weight: 700;
}
.container .news-event .col-left :nth-child(3) {
  font-size: 15px;
}
.container .news-event .col-mid img {
  width: 100%;
}
.container .news-event .col-mid p {
  font-weight: 600;
  font-size: 15px;
}
.container .news-event .col-right img {
  width: 40%;
}
.container .news-event .col-right p {
  font-weight: 600;
  font-size: 15px;
  width: 56%;
  margin: 0;
  margin-top: -6px;
  margin-bottom: -7px;
}

.container .union-activities {
  border-top: 3px solid #92b5f0;
  position: relative;
}
.container .union-activities .title {
  width: 220px;
  height: 44px;
  border-bottom: 0.5px solid #349fdd;
  background-image: linear-gradient(to left, #fff, #dbe3f1, #84cfec);
}
.container .union-activities .title p {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: #0680C9;
}
.container .union-activities .col-left img {
  width: 100%;
}
.container .union-activities .col-left :nth-child(2) {
  font-size: 24px;
  font-weight: 700;
}
.container .union-activities .col-left :nth-child(3) {
  font-size: 15px;
}
.container .union-activities .col-mid img {
  width: 100%;
}
.container .union-activities .col-mid p {
  font-weight: 600;
  font-size: 15px;
}
.container .union-activities .col-right img {
  width: 40%;
}
.container .union-activities .col-right p {
  font-weight: 600;
  font-size: 15px;
  width: 56%;
  margin: 0;
  margin-top: -6px;
  margin-bottom: -7px;
}

.container-fluid {
  height: auto;
  background: #2398e6;
}
.container-fluid .media {
  width: 100%;
  position: relative;
  padding-top: 30px;
}
.container-fluid .media .title {
  width: 220px;
  height: 44px;
  border-bottom: 0.5px solid #1497e3;
  background-image: linear-gradient(to left, #fff, #dbe3f1, #84cfec);
}
.container-fluid .media .title p {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: #0680C9;
}
.container-fluid .media .media-nav .nav-link {
  padding-right: 0;
  padding-left: 40px;
  color: #fff;
}
.container-fluid .media-body {
  margin-top: 20px;
  padding-bottom: 30px;
}
.container-fluid .media-body .col-left {
  color: #fff;
}
.container-fluid .media-body .col-left img {
  width: 100%;
}
.container-fluid .media-body .col-left :nth-child(2) {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.container-fluid .media-body .col-left :nth-child(3) {
  font-size: 15px;
}
.container-fluid .media-body .col-mid img {
  width: 100%;
}
.container-fluid .media-body .col-mid p {
  font-weight: 600;
  color: #fff;
  font-size: 15px;
}
.container-fluid .media-body .col-right img {
  width: 100%;
}
.container-fluid .media-body .col-right p {
  font-weight: 600;
  font-size: 15px;
  color: #fff;
}

.container .group-news {
  border-top: 3px solid #92b5f0;
}
.container .title {
  width: 220px;
  height: 44px;
  border-bottom: 0.5px solid #349fdd;
  background-image: linear-gradient(to left, #fff, #dbe3f1, #84cfec);
}
.container .title p {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: #0680C9;
}
.container .news {
  margin-top: 20px;
}
.container .news .link-news {
  width: 32%;
}
.container .news .link-news img {
  width: 100%;
}
.container .news .link-news p {
  width: 90%;
  font-weight: 700;
}
.container .banner {
  width: 100%;
}

.conduct {
  background: #9fdce8;
}
.conduct .content {
  position: relative;
  padding: 50px 0;
}
.conduct .content .head {
  border-top: 3px solid #92b5f0;
}
.conduct .content .row1 img {
  width: 100%;
}
.conduct .content .row2 img {
  width: 100%;
}

.container .download {
  width: 100% px;
  background: #fff;
  border-top: 2px solid #92b5f0;
  border-left: 1px solid #84cfec;
}
.container .download .download-title {
  width: 250px;
  height: 44px;
  border-bottom: 0.5px solid #349fdd;
  background-image: linear-gradient(to left, #deeef8, #84cfec);
}
.container .download .download-title p {
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  color: #0680C9;
  font-weight: 700;
}
.container .download ul {
  padding-left: 0;
  border: 1px solid #84cfec;
  border-left: none;
}
.container .download ul li {
  padding: 12px 5px;
  list-style-type: none;
  border-bottom: 1px solid #84cfec;
}

#footer .container-fluid {
  background: #dfeef4;
}
#footer .container-fluid ul li {
  list-style-type: none;
}
#footer .container-fluid .logo img {
  width: 131px;
}
#footer .container-fluid .info-footer p {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}
#footer .container-fluid .col-left p {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}/*# sourceMappingURL=index.css.map */