@media only screen and (max-width: 426px){
    #header{
        .province{
            .info-portal{
                padding-top: 18px !important;
                font-size: 15px !important;
            }
            .deparment-of-home-affairs{
                font-size: 19px !important;
            }
        }
        .date-weather{
            display: none !important;
        }
    }
    .banner-quockhanh{
        display: none;
    }
    .calendar-work{
        margin-top: 15px;
    }

    .media-nav{
        display: none;
    }

    .news{
        flex-direction: column;
        width: 100%;
        .link-news{
            width: 100% !important;
        }
    }

    .conduct{
        .row2{
            display: none;
        }
    }
    #footer{
        .col-left{
            display: none;
        }
        img{
            width: 80px !important;
        }
        .info-footer{
            ul{
                padding-left: 10px;
                max-width: 320px !important;
                :nth-child(5){
                    display: none !important;
                }
            }
            

        }
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px){
    #header{
        height: 180px !important;
    }
    .banner-quockhanh{
        display: none;
    }
    .conduct{
        .row2{
            display: none;
        }
    }
    #footer{
        .col-left{
            display: none;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    #header{
        .province{
            .deparment-of-home-affairs{
                font-size: 26px !important;
            }
        }
        .date-weather{
            .icon1{
                display: none !important;
            }
            justify-content: center;
        }
    }
    .banner-quockhanh{
        display: none;
    }
    .conduct{
        .row2{
            display: none;
        }
    }
    #footer{
        .col-left{
            display: none;
        }
    }
}